<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} - Tech UpNext {% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>
  
  <!--Google Adword-->
  <!-- Global site tag (gtag.js) - Google Ads: 581316632 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-581316632"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-581316632');
</script>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-178660841-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-178660841-1');
</script>


  
  
  <!--Meta tags for SEO-->
  <meta name="description" content="Tech UpNext is tech site designed to provide technology updates related to games, gadgets, how to, tutorials, tips and tricks and many more." />
  <meta name="keywords" content="games, tech, gadgets, how to, laptops, mobile, smartphone, tutorial, tricks, operating system,">
  <meta name="author" content="Deepak L. Karna">
  <!-- Schema.org for Google -->
  <meta itemprop="name" content="Tech UpNext - Serving Tech Updates">
  <meta itemprop="description" content="Tech UpNext is tech site designed to provide technology updates related to games, gadgets, how to, tutorials, tips and tricks and many more.">
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Tech UpNext - Serving Tech Updates">
  <meta name="twitter:description" content="Tech UpNext is tech site designed to provide technology updates related to games, gadgets, how to, tutorials, tips and tricks and many more.">
  <!-- Open Graph general (Facebook, Pinterest & Google+) -->
  <meta name="og:title" content="Tech UpNext - Serving Tech Updates">
  <meta name="og:description" content="Tech UpNext is tech site designed to provide technology updates related to games, gadgets, how to, tutorials, tips and tricks and many more.">
  <meta name="og:url" content="https://techupnext.co">
  <meta name="og:site_name" content="Tech UpNext - Serving Tech Updates">
  <meta name="og:type" content="website">


  <link rel="icon" type="img/png" href="{{site.baseurl}}/favicon.ico"/>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <!--Fontawesome for social media icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  



  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
